@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --color-primary: #1f1b2d;
  --color-secondary: #ff385c;
  --color-tertiary: #77c04b;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.6;
  font-family: "Inter", "sans-serif";

  color: var(--color-primary);
}

h1 {
  margin-bottom: 0.8rem;
}

h2,
p {
  margin-bottom: 0.6rem;
}

h2 {
  position: relative;
  margin-bottom: 1rem;
  font-size: 3rem;
}

h2::after {
  content: "";
  width: 10rem;
  height: 4px;
  background-image: linear-gradient(45deg, #ff385c, #1f1b2d);
  position: absolute;
  left: 0;
  bottom: 0;
}

h3 {
  margin-bottom: 1rem;
}

.row {
  width: 90%;
  margin: 0 auto;
}

.header {
  /* border-bottom: solid 1px #ddd; */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 1000;

  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;
    gap: 2rem;
  }
}

.nav {
  @media (max-width: 1000px) {
    flex: 1;
  }
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;

  @media (max-width: 1000px) {
    display: none;
  }

  position: relative;
}

@media (max-width: 1000px) {
  .nav-list.show {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 8rem;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.99);
    padding: 2rem;
    align-items: flex-start;
    padding-left: 5rem;
    border-top: 1px solid #ddd;

    @media (max-width: 700px) {
      top: 7rem;
    }

    @media (max-width: 700px) {
      top: 6.5rem;
    }
  }
}

.menu-toggle-wrapper {
  /* text-align: right; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* background-color: yellow; */
}

.menu-toggle {
  font-size: 2.4rem;
  display: none;
  cursor: pointer;

  @media (max-width: 1000px) {
    display: inline-block;
  }
}

.close-mobile-menu-icon-wrapper {
  display: none;
  position: absolute;
  top: 2rem;
  right: 4rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: solid 2px #ddd;

  @media (max-width: 1000px) {
    display: flex;
  }
  justify-content: center;
  align-items: center;

  @media (max-width: 500px) {
    right: 2rem;
  }

  .close-mobile-menu-icon {
    font-size: 2.4rem;
    color: var(--color-primary);
    filter: opacity(0.5);
    cursor: pointer;

    @media (max-width: 500px) {
      font-size: 2rem;
    }
  }
}

.nav-link:link,
.nav-link:visited {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 500;
}

.nav-link:hover,
.nav-link:active {
  color: var(--color-secondary);
}

.nav-link.active {
  color: var(--color-secondary);
}

.contact-us-nav-link {
  display: none;
  @media (max-width: 550px) {
    display: block;
  }
}

.header-btns {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link-btn {
  text-decoration: none;
  display: inline-block;
  padding: 0.6rem 1.2rem;
  border-radius: 0.3rem;
  color: #fff;
  min-width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 500px) {
    padding: 0.4rem 0.8rem;
    min-width: auto;
  }
}

.link-btn-primary {
  background-color: var(--color-primary);
}

.link-btn-secondary {
  background-color: var(--color-secondary);
}

/* https://curveeditor.com/ */

@media (max-width: 550px) {
  .contact-us-btn {
    display: none;
  }
}

.logo {
  height: 5rem;

  @media (max-width: 700px) {
    height: 4rem;
  }

  @media (max-width: 500px) {
    height: 3.5rem;
  }
}

.section {
  padding: 4rem 0;
}

.hero-content {
  display: flex;
  gap: 2rem;

  @media (max-width: 1000px) {
    flex-direction: column;
  }
}

.primary-title {
  line-height: 1;
  margin: 1rem 0;

  .tagline {
    color: var(--color-secondary);
    font-size: 2rem;
    margin-top: 1rem;
    letter-spacing: 2px;
    word-spacing: 1rem;
  }

  @media (max-width: 400px) {
    font-size: 1.8rem;

    .tagline {
      font-size: 1.6rem;
    }
  }
}

.video-wrapper {
  flex: 2;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  filter: brightness(80%);
}

.videos-grid {
  border-top: solid 2px var(--color-secondary);
  height: 100%;
  flex: 1;

  display: flex;
  flex-direction: column;
}

.videos-options {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
  grid-auto-rows: 23rem;
  gap: 2rem;

  @media (max-width: 40rem) {
    gap: 1rem;
  }
}

.video-option {
  border-radius: 0.5rem;
  cursor: pointer;

  background-size: cover;
  background-repeat: no-repeat;
}

.video-option-1 {
  background-image: url("../images/003.jpg");
}
.video-option-2 {
  background-image: url("../images/004.jpg");
}
.video-option-3 {
  background-image: url("../images/005.jpg");
}
.video-option-4 {
  background-image: url("../images/006.jpg");
}

.about-content {
  display: flex;
  gap: 4rem;
  transition: all 1.3s;
  @media (max-width: 800px) {
    flex-direction: column;
  }
  .about-text {
    flex: 1;

    p {
      font-size: 2rem;
    }

    .about-link {
      width: max-content;
      margin-top: 4rem;
    }
  }

  .story-image-wrapper {
    flex: 0 0 40%;
    border-radius: 0.5rem;
    overflow: hidden;
    .story-image {
      width: 100%;
      height: 100%;
      transition: all 1.5s;
      object-fit: cover;
    }
  }

  &:hover .story-image {
    transform: scale(1.2);
  }
}

.recipe-content {
  .recipe-videos {
    display: flex;
    gap: 2rem;
    @media (max-width: 750px) {
      flex-direction: column;
    }
    .recipe-video {
      width: 100%;
    }
  }
}

/* Menu */
.special-wrapper {
  padding: 4rem;
  border-radius: 0.5rem;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("../images/005.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 4rem;

  @media (max-width: 750px) {
    padding: 2rem;
  }
}

.special-menu-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  @media (max-width: 1130px) {
    grid-template-columns: 1fr;
  }
}

.special-menu-item {
  display: flex;
  gap: 2rem;
  @media (max-width: 520px) {
    flex-direction: column;
  }
  .item-left {
    /* background-image: url("../images/004.jpg"); */
    flex: 0 0 14rem;
    height: 14rem;
    border-radius: 1rem;
    background-size: cover;
    overflow: hidden;
    border: solid 2px #fff;

    @media (max-width: 570px) {
      height: 16rem;
    }
  }

  /* .item-left-1 {
    background-image: url("../images/004.jpg");
  } */
  .special-menu-image {
    width: 100%;
    height: 100%;
    transition: all 1s ease-out;
    object-fit: cover;
  }

  &:hover .special-menu-image {
    transform: scale(1.3);
  }

  .item-right {
    .item-top {
      display: flex;
      justify-content: space-between;
      border-bottom: dotted 2px var(--color-secondary);

      .menu-title {
      }

      .menu-price {
        color: var(--color-secondary);
        font-weight: 500;
      }
    }

    .item-bottom {
    }
  }
}

.tables-grid {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem; */
}

.table-wrapper {
  /* padding-bottom: 4rem; */
  overflow-x: auto;
}

.table {
  width: 100%;
  border-radius: 0.5rem;
  /* overflow: hidden; */
  border: solid 1px #e5e7eb;
  text-align: left;
  border-collapse: collapse;
  .table-head {
    background-color: #e5e5e5;
  }

  td,
  th {
    padding: 0.5rem 1rem;
    border: solid 1px #c3c5c9;
  }

  .category {
    writing-mode: sideways-lr;
    font-weight: bold;
  }

  tr:nth-child(even) {
    background-color: #f7f7f7;
  }
}

.gallery-images {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); */
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 30rem;
  gap: 2rem;

  @media (max-width: 950px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    grid-auto-rows: 20rem;
  }

  @media (max-width: 500px) {
    gap: 0.6rem;
    grid-auto-rows: 15rem;
  }

  .gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s ease-out;
  }

  .gallery-image-wrapper {
    overflow: hidden;
  }

  .gallery-image-wrapper:hover .gallery-image {
    transform: scale(1.3);
  }
}

.map {
  width: 100%;
}

.contact-content {
  background-color: #ff385c;
  background-color: var(--color-primary);
  border-radius: 0.5rem;

  display: flex;
  @media (max-width: 1030px) {
    flex-direction: column;
  }
  .form-wrapper {
    padding: 4rem;
    flex: 2;
    @media (max-width: 500px) {
      padding: 4rem 2rem;
    }
    .form {
      .inputs-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        @media (max-width: 750px) {
          grid-template-columns: 1fr;
        }
      }

      .input-wrapper {
        input,
        textarea,
        select {
          width: 100%;
          font-family: inherit;
          font-size: 1.6rem;
        }
        label {
          color: #ffff;
          display: block;
        }
        input,
        textarea,
        select {
          padding: 1.2rem 2.4rem;
        }

        textarea {
          resize: none;
        }
      }

      .message-box {
        margin-top: 2rem;
      }
    }
  }

  #result {
    color: #fff;
  }

  .form-image {
    flex: 1;
    background-image: url("../images/man-eating.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @media (max-width: 1030px) {
      min-height: 20rem;
      order: -1;
    }
  }
}

.contact-us-title {
  color: #fff;
  margin-bottom: 2rem;
}

.form-btn {
  margin-top: 2rem;
  display: inline-block;
  padding: 1.2rem 2.4rem;
  background-color: var(--color-secondary);
  color: #fff;
  cursor: pointer;
  border: none;
  font-family: inherit;
  font-size: 1.6rem;
  border-radius: 0.5rem;
}

/* Footer */
.footer {
  background-color: var(--color-primary);
}

.footer-content {
  padding: 4rem 0;
  color: #fff;
}

.footer-grid {
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  flex-wrap: wrap;

  .f-col {
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      font-size: 1.6rem;
    }
  }
}

.f-divider {
  margin-top: 2rem;
  border: none;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.193);
}

.f-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  padding: 2rem 0;

  @media (max-width: 620px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
  .copy-right {
    p {
      font-size: 1.4rem;
    }
  }

  .social-links {
    display: flex;
    align-items: center;
    gap: 2rem;
    .text {
      font-size: 1.4rem;
    }

    a:link,
    a:visited {
      color: var(--color-secondary);
    }

    a:hover,
    a:active {
      color: var(--color-secondary);
    }
  }
}
